<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./comprobanteTraxwire" />
    <title>Nuevo Comprobante</title>
    <style>
      body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comprobante-block {
    margin: 20px;
}
#amount {
    font-size: 40px;
    color: skyblue;
    font-weight: bolder;
    margin: 0px;
}
#trans-date {
    color: skyblue;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
}
#trans-hour {
    color: skyblue;
    font-weight: bolder;
    font-size: 20px; 
    margin: 0px;
    margin-bottom: 40px;
}
#aclaraciones-block {
   
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 200px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}
#main-block {
    width: 60%;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}


table tr:nth-child(even) {
    background-color: #ffffff; 
}

table tr:nth-child(odd) {
    background-color: skyblue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}
.name-row {
    font-weight: bold;
}
footer {
    text-align: center;
}
#nombreEmpresa, #registroEmpresa, #direccionEmpresa {
    margin: 0;
}
#direccionEmpresa {
    margin-bottom: 30px;
}
header {
  display: flex;
  flex-direction: column;
}
img {
  width: 90%;
  height: auto;
}
    </style>
  </head>
  <body>
    <header>
      <div>
        <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/generador-de-comprobantes.appspot.com/o/TRAXWIRE.png?alt=media&token=3bf3fd34-96c5-4df1-aa0d-5d301f1e457a" alt="Traxwire Logo" />
      </div>
      <br></br>
      <h2>COMPROBANTE DE OPERACIÓN</h2>
    </header>

    <section id="main-block">
      <div id="amount-block">
        <h3 id="amount">{{abono}}</h3>
        <h3 id="amount">{{cargo}}</h3>
        <h2 id="trans-date">{{fecha}}</h2>
      </div>
      <div id="comprobante-block">
        <table>
          <tr>
            <td class="name-row">Movimiento:</td>
            <td id="movimiento">
              {{operacion}}
            </td>
          </tr>
          <tr>
            <td class="name-row">Ordenante:</td>
            <td id="nombre">{{beneficiario}}</td>
          </tr>
          <tr>
            <td class="name-row">Referencia Numérica:</td>
            <td id="referencia">{{referencia}}</td>
          </tr>
          <tr>
            <td class="name-row">Referencia Leyenda:</td>
            <td id="concepto">{{concepto}}</td>
          </tr>
          <tr>
            <td class="name-row">Clave de rastreo:</td>
            <td id="clave">{{clave}}</td>
          </tr>
          <tr></tr>
            <td class="name-row">Cargo:</td>
            <td id="clave">{{cargo}}</td>
          </tr>
          <tr></tr>
            <td class="name-row">Abono:</td>
            <td id="clave">{{abono}}</td>
          </tr>
          <tr></tr>
            <td class="name-row">Saldo:</td>
            <td id="clave">{{saldo}}</td>
          </tr>
          
        </table>
      </div>
      <div id="aclaraciones-block">
        <p>
          Para cualquier duda o aclaración adicional sobre su transacción,
          contáctenos a soporte@suempresa.com o al +52 (800) 123-4567. Nuestro
          horario de atención es de lunes a viernes, de 9:00 AM a 6:00 PM. 
          Estamos aquí para ayudarle y asegurar su satisfacción.
        </p>
      </div>
    </section>

    <footer>
      <p id="nombreEmpresa"> {{nombreEmpresa}} </p>
      <h4 id="registroEmpresa"> {{registroEmpresa}} </h4>
      <p id="direccionEmpresa"> {{direccionEmpresa}} </p>
    </footer>
  </body>
</html>
